img {
  width: 100%;
}

/* Header */

header {
  height: 10vh;
  width: 100vw;
  padding: 35px;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
}

header a.logo {
  font-weight: bold;
}

nav {
  display: flex;
  gap: 20px;
}

/* Posts List */

.posts-list {
  max-width: 60vw;
  margin: 0 auto;
}

.post {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 20px;
  margin-bottom: 3rem;
}

.post-content h2 {
  font-size: 1.7rem;
}

.post-content-info {
  margin: 3px 0;
  color: #888;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.post-content-info .author {
  text-decoration: none;
  color: #333;
}