header {
  height: 10vh;
  width: 100vw;
  padding: 20px;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
}

header a.logo {
  font-weight: bold;
}

nav {
  display: flex;
  gap: 20px;
}